{% extends 'base.html' %}

{% block content %}

<h1 class="mx-auto">Парсер Логов</h1>

<div class="container mt-5">

	<div class="row mx-auto d-flex justify-content-center">

		<form method="POST" action=" {{ url_for('index') }} " enctype="multipart/form-data">
		  <div class="form-group">
		    <div class="form-row">
		    	<div class="form-col">
		    		<input type="file" name="file" class="form-control-file">
		    	</div>
		    	<div class="from-col">
		    		<button class="btn btn-primary" type="submit">Жми!</button>
		    	</div>
		    </div>
		  </div>
		</form>

	</div>

</div>

<div class="ips row mt-3 mx-auto">

	{% for elem in ips %}
		<div class="col-6">{{ elem['ip'] }}</div>
		<div class="col-6">{{ elem['frequency'] }}</div>
	{% endfor %}

</div>

<div class="ban row mt-3 mb-3 mx-auto">

	{% for elem in ips %}
		<div class="col-12">Deny from {{ elem['ip'] }}</div>
	{% endfor %}

</div>

{% endblock %}